In [26]:
# 본 스크립트 실행으로 notebook 내의 parse_sheet, load_data function이 import 된다.
%run load_data.ipynb

Requirement already satisfied: openpyxl in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (3.0.4)
Requirement already satisfied: jdcal in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: pandas in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (1.1.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\mincheol cho\appdata\local\programs\python\python38-32\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [27]:
data_2020 = load_data(2020)

In [28]:
data_2020['team']

  T_ID T_NM
0   HH   한화
1   HT  KIA
2   KT   KT
3   LG   LG
4   LT   롯데
5   NC   NC
6   OB   두산
7   SK   SK
8   SS   삼성
9   WO   키움

In [29]:
data_2020['team_pitcher']

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20200505HHSK0,20200505,SK,HH,0,B,0,L,0,27,...,5,1,0,0,0,3,3,1.500000,1.200000,1.333333
1,20200505HHSK0,20200505,HH,SK,0,T,1,W,0,27,...,2,0,0,0,0,0,0,0.000000,0.000000,0.750000
2,20200505LTKT0,20200505,KT,LT,0,B,0,L,0,27,...,9,1,0,0,0,7,7,3.000000,1.285714,1.875000
3,20200505LTKT0,20200505,LT,KT,0,T,0,W,0,27,...,8,1,0,0,0,2,2,0.000000,1.000000,2.571429
4,20200505NCSS0,20200505,SS,NC,0,B,0,L,0,27,...,9,0,0,0,0,4,4,1.500000,1.058824,2.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,20200719LTSS0,20200719,LT,SS,0,T,0,W,2,27,...,9,1,0,0,0,1,1,0.600000,1.111111,1.500000
636,20200719OBHT0,20200719,HT,OB,0,B,0,L,0,27,...,4,0,0,0,0,8,8,2.142857,1.800000,0.750000
637,20200719OBHT0,20200719,OB,HT,0,T,0,W,1,27,...,5,1,0,0,0,4,4,3.000000,1.000000,1.875000
638,20200719WOSK0,20200719,SK,WO,0,B,0,W,0,27,...,4,1,0,0,0,3,3,1.500000,1.105263,2.142857
639,20200719WOSK0,20200719,WO,SK,0,T,0,L,2,24,...,10,0,2,0,0,4,4,1.800000,1.312500,1.333333